<a href="https://colab.research.google.com/github/Gitanjali17/Python/blob/master/list_tuple_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
courses = ['History','Math','Physics','CompSci']

In [2]:
courses

['History', 'Math', 'Physics', 'CompSci']

In [0]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [0]:
mylist[0] = 6

In [0]:
mytuple = (1,2,3,4,5,6,7,8,9)

In [44]:
help(mytuple)

Help on tuple object:

class tuple(object)
 |  tuple() -> empty tuple
 |  tuple(iterable) -> tuple initialized from iterable's items
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(...)
 |      T.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      T.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.

In [0]:
myset = set()

In [0]:
mylist1 = list() # []

In [0]:
mytuple1 = tuple()

In [59]:
type(myset)

set

In [0]:
myset1 = {1,2,3,4,5,6,7,1,2,3}

In [0]:
mylist2 = [1,2,3,3,4,4,5,6]

In [0]:
myset2 = set(mylist2)

In [70]:
myset2

{1, 2, 3, 4, 5, 6}

In [0]:
mylist3 = list(myset2)

In [72]:
mylist3

[1, 2, 3, 4, 5, 6]

In [0]:
mydict = {'Name':'Rupal','Class':'6th','Age':37}

In [75]:
mydict

{'Age': 37, 'Class': '6th', 'Name': 'Rupal'}

In [0]:
mydict['Age'] = 25

In [87]:
mydict.items

In [90]:
for key,value in mydict.items():
  print(key,value)

Name Rupal
Class 6th
Age 25

In [107]:
for i in mydict.values():
  print(i)

Rupal
6th
25

In [0]:
mylist3 = []

In [109]:
mylist3

[]

In [0]:
mylist3.append(1)

In [115]:
a = input("Enter vale for a: ")

Enter vale for a: 24

In [130]:
for i in range(0,3):
  mylist3.append(str(input()))

'Lion'
'Tiger'
'Goat'

In [131]:
mylist3

['1', 1, 0, 1, 2, 10, 10, 10, 0, 1, 2, 1, 2, 3, "'Lion'", "'Tiger'", "'Goat'"]

In [132]:
for i in range(0,int(input("Enter the how many no you want to enter"))):
  print(i)

Enter the how many no you want to enter5
0
1
2
3
4

In [133]:
mylist4 = []
for i in range(0,int(input("Enter the how many no you want to enter"))):
  mylist4.append(input("Enter tha data"))

Enter the how many no you want to enter3
Enter tha data'Kunal'
Enter tha data'Rupal'
Enter tha data'Nitesh'

In [134]:
mylist4

["'Kunal'", "'Rupal'", "'Nitesh'"]